-- Crear base de datos
CREATE DATABASE usersdb;
GO

USE usersdb;
GO

-- Tabla de países
CREATE TABLE Countries (
    country_id INT IDENTITY(1,1) PRIMARY KEY,
    [name] VARCHAR(20) NOT NULL
);

-- Tabla de usuarios
CREATE TABLE Users (
    id INT IDENTITY(1,1) PRIMARY KEY,
    username NVARCHAR(30) NOT NULL,
    [password] NVARCHAR(MAX) NOT NULL,
    [role] NVARCHAR(10) NOT NULL,
    country_id INT NOT NULL,
    CONSTRAINT fk_user_country FOREIGN KEY (country_id) 
        REFERENCES Countries(country_id)
        ON UPDATE CASCADE
        ON DELETE CASCADE
);

-- Tabla de tokens
CREATE TABLE Token (
    user_id INT PRIMARY KEY,
    access_token VARCHAR(MAX) NULL,
    created_at DATETIME NULL,
    expires_in DATETIME NULL,
    refresh_token VARCHAR(MAX) NULL,
    token_id VARCHAR(MAX) NULL,
    CONSTRAINT fk_token_user FOREIGN KEY (user_id) 
        REFERENCES Users(id)
        ON UPDATE CASCADE
        ON DELETE CASCADE
);
